.cta-section {
  position: relative;
  padding: 6.4375rem 1rem;

  .main-content {
    position: absolute;
    width: 70%;
    left: 15%;
    padding: 2.15625rem;
    background: #009444;
    box-shadow: 0px -7px 38px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    top: 0;
    box-sizing: border-box;

    @media screen and (max-width: 900px) {
      position: relative;
      width: 100%;
      left: 0;
    }

    .main-title {
      h1 {
        font-weight: 600;
        font-size: 3rem;
        line-height: 3.5625rem;
        color: #FFFFFF;
        max-width: 41.9375rem;
        margin: 0 auto;
      }

      @media screen and (max-width: 500px) {
        img {
          width: 100%;
        }
      }

    }

    p {
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 1.5rem;
      color: #FFFFFF;
      margin: 2rem 0;
    }

    .actions {
      button {
        padding: 1.15625rem 3rem;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.1875rem;
        color: #FFFFFF;
        background: #F7941D;
        border-radius: 5px;
        border: none;
      }
    }
  }
}