.get-quote {
  padding: 6.4375rem 1rem;

  &.bg-blue {
    background: #009444;
    h1, h3, p, a {
      color: white;
    }

    .left-section {
      h3, p {
        span {
          color: #F7941D !important;
        }
      }
    }
  }

  h1 {
    color: #5C5C5C;
  }

  h3, p {
    color: #181818;
  }

  a {
    color: #F7941D;
  }

  .section-container {
    max-width: 67.875rem;
    margin: 0 auto;
    display: flex;
    gap: 4.75rem;

    @media screen and (max-width: 900px) {
      text-align: center;
      display: block;
    }

    .left-section {
      width: 70%;

      @media screen and (max-width: 900px) {
        max-width: 40rem;
        margin: 2rem auto;
        width: 100%;
      }

      h1 {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.2em;        
      }

      h3 {
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 2.6875rem;

        span {
          color: #009444;
        }        
      }

      p {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.5rem;

        span {
          color: #009444;
        }
      }

      a {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.1875rem;        
        text-decoration: none;

        span {
          margin-right: 0.75rem;
        }
      }
    }

    .right-section {
      width: 50%;
      position: relative;

      @media screen and (max-width: 900px) {
        width: 100%;
        max-width: 40rem;
        margin: 0 auto;
      }

      .bg-image {
        position: absolute;
        z-index: -1;
        top: -3.125rem;
        left: -3.125rem;

        @media screen and (max-width: 900px) {
          display: none;
        }
      }

      .quote-section {
        background: #F2FAF6;
        border-radius: 5px;
        padding: 1.5rem;

        h3 {
          font-weight: 700;
          font-size: 2.25rem;
          line-height: 2.6875rem;
          color: #009444;
          margin: 0 0 1rem;
        }

        .form-group-item {
          margin-bottom: 1.5rem;
          background: #FFFFFF;
          border-radius: 12px;
          padding: 1rem 1.5rem;

          &-content {
            display: flex;
            flex-direction: column;

            label {
              font-weight: 500;
              font-size: 0.625rem;
              line-height: 0.75rem;
              color: #5C5C5C;
              text-align: left;         
            }

            input, select {
              width: 100%;
              box-sizing: border-box;
              font-weight: 500;
              font-size: 1rem;
              line-height: 1.1875rem;              
              color: #181818;
              border: none;
              outline: none;
              padding: 0.5rem 0;

              &:focus {
                box-shadow: none;
              }
            }
          }
        }
      }

      .actions {
        margin: 1.5rem 0;

        button {
          padding: 1.15625rem 3rem;
          font-weight: 600;
          font-size: 1rem;
          line-height: 1.1875rem;
          color: #FFFFFF;
          background: #009444;
          border-radius: 5px;
          border: none;
          width: 100%;
        }
      }

      a {
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.0625rem;
        text-align: center;
        color: #5C5C5C;
        display: block;
        text-decoration: none;

        span {
          color: #009444;
        }
      }
    }
  }
}