.meet-team {
  padding: 6.4375rem 1rem;

  .section-container {
    max-width: 67.875rem;
    margin: 0 auto;

    .section-title {
      text-align: center;
      margin-bottom: 2rem;

      h1 {
        font-weight: 700;
        font-size: 2.25rem;
        line-height: 2.6875rem;
        color: #181818;
        margin: 0;

        span {
          color: #009444;
        }        
      }
    }

    .section-content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;

      &.team-page {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4.5rem 1.5rem;

        @media (max-width: 900px) and (min-width: 601px) {
          grid-template-columns: repeat(2, 1fr);
          max-width: 45rem;
          margin: 0 auto;
        }

        @media (max-width: 600px) {
          grid-template-columns: repeat(1, 1fr);
          max-width: 23rem;
          margin: 0 auto;
        }
      }

      .user-item {
        &-content {
          position: relative;
          &-image {
            img {
              width: 100%;
              border-radius: 5px;
            }
          }

          &-text {
            position: absolute;
            padding: 0.75rem;
            background: #F2FAF6;
            border-radius: 5px;
            min-width: 12.375rem;
            right: 0;
            bottom: -2rem;


            h6 {
              font-weight: 500;
              font-size: 1rem;
              line-height: 1.1875rem;              
              color: #F7941D;
              margin: 0 0 0.5rem;
            }

            p {
              font-weight: 400;
              font-size: 0.75rem;
              line-height: 0.875rem;          
              color: #5C5C5C;
              margin: 0;
            }
          }
        }
      }
    }
  }
}