.secondary-cta {
    position: relative;
    padding: 6.4375rem 1rem;

    .main-content {
        position: absolute;
        width: 70%;
        left: 15%;
        padding: 2.15625rem;
        border-radius: 5px;
        text-align: center;
        bottom: -4rem;
        box-sizing: border-box;
        background: #FFFFFF;
        box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 900px) {
            position: relative;
            width: 100%;
            box-sizing: border-box;
            left: 0;
        }
  
        @media (max-width: 600px) {
            flex-direction: column;
        }

        h3 {
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.375rem;        
            color: #181818;
            margin: 0;
        }

        a {
            background: #F7941D;
            border-radius: 5px;
            padding: 1.5rem;
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.375rem;            
            color: #F1F1F1;
            text-decoration: none;
            display: block;

            @media (max-width: 600px) {
                margin-top: 2rem;
            }
        }
    }
}